PORT=10000
MONGO_URI=mongodb+srv://ojhaneha0028_db_user:46YaJAvVleCC1hvj@cluster0.t1pe8j0.mongodb.net/playlistpro?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=playlistpro_super_secret_jwt_key_2024_secure
NODE_ENV=production
YOUTUBE_API_KEY=AIzaSyA_guqYAhR5chqjmKHjMKNRtyXe_hHrAMo
FRONTEND_URL=https://playlistpro.onrender.com
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=be698b2addd20d
EMAIL_PASS=5a8c687ba9f5bb
EMAIL_FROM=noreply@playlistpro.com